@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style: none;
  /* overflow: hidden; */
}

html,
body,
:root {
  /* font-size: 62.25%; */
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

.hero-btn {
  /* font-size: 13.5rem; */
  background-color: #0081f2;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: #045ac4;
}

.feature-carousel-btn {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  font-weight: 400;
  color: rgb(5, 5, 5);
  background-color: rgb(255, 255, 255);
}

.hero-block {
  background-color: var(--color-block);
  border-radius: 12px;
}

.selected-gray {
  background: rgba(0, 0, 0, 0.1);
  transition: 150ms background linear;
}

.selected-white {
  background: white;
  transition: background 0.15s;
  box-shadow: inset 0 0 0 2px var(--color-block);
}

.hov-gray {
  /* background: rgba(0, 0, 0, 0.04); */
}

.divider {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  color: rgba(0, 0, 0, 0.1);
  padding: 0 0.8rem;
}

/* @media (min-width: 1080px) { */
.community-blocks-container {
  grid-template-columns: repeat(6, 1fr);
}

.community-3blocks {
  grid-column: span 2;
}

.community-2blocks {
  grid-column: span 3;
}

.community-image-container {
  grid-column: span 4;
}

.community-image-container-md {
  grid-column: span 4;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.community-testimonials {
  display: flex;
  grid-column: span 2;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.community-testimonial1 {
  grid-column: 5/6;
  grid-column: span 2;
  /* grid-row: 2/3; */
  place-self: center stretch;
}
.community-testimonial2 {
  grid-column: 5/6;
  grid-column: span 2;
  /* grid-row: 2/3; */
  place-self: center stretch;
}
.community-testimonial3 {
  grid-column: 5/6;
  grid-column: span 2;
  /* grid-row: 3/3; */
  place-self: center stretch;
}

.community-img {
  /* max-width: 60.6rem; */
}

@media (max-width: 1024px) {
  .community-blocks-container {
    display: grid;
  }

  .community-image-container {
    grid-column: span 6;
  }

  .community-testimonials {
    /* display: grid; */
    display: flex;
    width: 100%;
    /* flex-direction: row; */
    justify-content: space-between;
    grid-column: span 6;
  }

  .community-testimonial1 {
    /* grid-column: 5/6; */
    grid-column: span 2;
    /* grid-row: 2/3; */
    place-self: center stretch;
  }
  .community-testimonial2 {
    /* grid-column: 5/6; */
    grid-column: span 2;
    /* grid-row: 2/3; */
    place-self: center stretch;
  }
  .community-testimonial3 {
    /* grid-column: 5/6; */
    grid-column: span 2;
    /* grid-row: 3/3; */
    place-self: center stretch;
  }
}

/*LG*/
/* BELOW 944px */
@media (max-width: 944px) {
  .community-blocks-container {
    grid-template-columns: repeat(2, 1fr);
    /* width: 80%; */
    width: 90%;
    margin: 0 auto;
  }

  .community-3blocks {
    /* grid-column: span 4; */
    grid-column: span 6;
  }

  .community-2blocks {
    /* grid-column: span 4; */
    grid-column: span 6;
  }

  .community-placeholder {
    /* display: grid; */
    opacity: 100%;
    grid-column: span 1;
  }

  .community-image-container {
    grid-column: span 6;
  }

  .community-testimonials {
  }

  .community-testimonial {
    grid-column: span 2;
    flex-direction: column;
  }

  .community-2blocks {
  }
}

/*MD*/
/* BELOW 704px */
/* @media (max-width: 704px) { */
/* @media (max-width: 700px) {
  .community-placeholder {
    display: none;
  }

  .community-blocks-container {
    width: 80%;

    grid-template-columns: repeat(2, 1fr);
  }
  .community-3blocks {
    grid-column: span 1;
    max-height: 6.8rem;
  }

  .community-2blocks {
    grid-column: span 1;
  }

  .community-h3 {
    font-size: 5.3rem;
  }

  .community-image-container {
    grid-column: span 6;
  }

  .community-testimonials {
    flex-direction: column;
  }
} */

/* @media (max-width: 34em) {
  .community-blocks-container {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: 0 auto;
  }

  .community-3blocks {
    grid-column: span 6;
  }

  .community-2blocks {
    grid-column: span 6;
  }

  .community-image-container {
    grid-column: span 6;
  }

  .community-testimonials {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
} */

/* .community-2blocks {
  grid-column: span 3;
}

.community-testimonial {
  grid-area: testimonial;
}

.community-h3 {
  grid-area: header;
}

.community-2blocks {
  grid-area: body;
} */

.community-h3 {
  color: #0a85d1;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: -1.2px;
  line-height: 4.8rem;
}

.community-h3-desc {
  font-size: 1.35rem;
  color: rgb(18, 18, 18);
  font-weight: 500;
  letter-spacing: 0.04725px;
  line-height: 1.9rem;
}

.community-h4 {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.1296px;
  line-height: 2.4rem;
  color: rgb(5, 5, 5);
  text-align: left;
}

.community-h4-desc {
  font-size: 1.6rem;
  color: rgb(18, 18, 18);
  font-weight: 400;
  letter-spacing: 0.008px;
  line-height: 2.3rem;
  text-align: left;
}

.community-unselected {
  background-color: rgba(0, 0, 0, 0.4);
}

.community-selected {
  background-color: rgb(5, 5, 5);
}

.community-notion {
  color: rgb(27, 149, 224);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 36px;
  flex: 1 0 auto;
}

.footer-main {
  column-count: 2;
  column-gap: 24px;
}

@media (min-width: 1024px) {
  .footer-main {
    column-count: 3;
  }
}

.footer-main ul {
  margin: 0 0 36px;
  padding: 0;
  list-style: none;
  page-break-inside: avoid;
  break-inside: avoid;
}

.footer-main ul li {
  margin-top: 0.64rem;
  line-height: 1.35rem;
  text-align: left;
  cursor: pointer;
  min-height: 21.5938px;
  line-height: 21.6px;
  padding: 0.5rem 0;
}

@layer base {
  :root {
    --color-block: #f6f5f4;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
